* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}


@media only screen and (min-width: 600px) {
    body {
        /* background-color: #000; */
        background-image: url("images/sushiBackground.png");
        background-size: cover;
    }

    h1 {
        font-weight: lighter;
        font-size: 1.5rem;
    }

    header {
        background-image: url("images/headerBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 50% 50%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: lighter;

    }

    #headerLeft {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #name {
        margin-left: 10%;
        font-weight: lighter;
    }

    a {
        color: #fff;
        text-decoration: none;
        /* font-size: 150%; */
    }

    a:hover {
        color: #d08c17;
    }

    nav {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #basketYellow{
        display: none;
    }
    #basketWhite{
        display: block;
    }
}

@media only screen and (max-width: 600px) {}